# SPDX-FileCopyrightText: 2017 Scott Shawcroft, written for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

*.mpy
.idea
__pycache__
_build
*.pyc
.env
.python-version
build*/
bundles
*.DS_Store
.eggs
dist
**/*.egg-info
.vscode
*~
/8x8_enclosure/tm4ext_lasercut_full.svg
/8x8_enclosure/tm4ext_lasercut_full.svg.licence
/8x8_enclosure/trellism4_extended.FCStd
